@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to The Book Store</h1>
    <p class="lead">Dive into the World of Books!</p>
    <p class="lead">
       Introducing your ultimate destination for book lovers everywhere! Whether you're a seasoned bibliophile or just starting your reading journey, our shelves (and digital catalog) are brimming with stories waiting to be discovered.
    </p>

    <!-- You can adjust or remove this paragraph based on its relevance to your page content -->
   
</div>